.container {
    display: flex;
    flex-wrap: wrap;
    height: 608px;
    width: 608px;
    margin: 0 auto;
}

.square {
    height: 4rem;
    width: 4rem;
    box-sizing: border-box;
    border: 1px solid black;
}
.btnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
button {
    margin-top: 2rem;
    padding: 0 3rem;
    border: none;
    background: salmon;
    height: 4rem;
    color: azure;
}

button:hover {
    background: wheat;

}

h1 {
    display: flex;
    justify-content: center;
}